.container{
    width:100%;
    min-height:60rem;
    background-color: aliceblue;
    margin: auto;
    text-align: center;
    padding: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}

.underline{
    width:60px;
    height:5px;
    background-color: aquamarine;
    margin:auto;
}

.good-menu{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    grid-gap:20px;
}

.good-menu>div img{
width:250px;
height:200px;
margin-right: 10px;

}
.good-menu>div{
    display: flex;
    
}

.catcon{
    display: flex;
    color:cadetblue;
    /* margin-left: 40%; */
    justify-content:space-evenly;
    
}

.butt{
    background-color: transparent;
    color: rgb(182, 90, 44);
    border: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    cursor: pointer;
}
